In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [3]:
arr = np.array([[1,2,np.nan],[np.nan,3,4]])

In [4]:
arr

array([[  1.,   2.,  nan],
       [ nan,   3.,   4.]])

In [10]:
dframe1 = DataFrame(arr, index=['A','B'], columns=['One','Two','Tree'])

In [12]:
dframe1

   One  Two  Tree
A  1.0  2.0   NaN
B  NaN  3.0   4.0

In [14]:
dframe1.sum()

One     1.0
Two     5.0
Tree    4.0
dtype: float64

In [16]:
dframe1.sum(axis=1)

A    3.0
B    7.0
dtype: float64

In [19]:
dframe1.min()

One     1.0
Two     2.0
Tree    4.0
dtype: float64

In [21]:
dframe1.idxmin()

One     A
Two     A
Tree    B
dtype: object

In [22]:
dframe1

   One  Two  Tree
A  1.0  2.0   NaN
B  NaN  3.0   4.0

In [23]:
dframe1.cumsum()

   One  Two  Tree
A  1.0  2.0   NaN
B  NaN  5.0   4.0

In [26]:
dframe1.describe()

       One       Two  Tree
count  1.0  2.000000   1.0
mean   1.0  2.500000   4.0
std    NaN  0.707107   NaN
min    1.0  2.000000   4.0
25%    1.0  2.250000   4.0
50%    1.0  2.500000   4.0
75%    1.0  2.750000   4.0
max    1.0  3.000000   4.0

In [31]:
from pandas.io import data as pdweb

ImportError: The pandas.io.data module is moved to a separate package (pandas-datareader). After installing the pandas-datareader package (https://github.com/pydata/pandas-datareader), you can change the import ``from pandas.io import data, wb`` to ``from pandas_datareader import data, wb``.

In [32]:
import pandas_datareader.data as pdweb

ModuleNotFoundError: No module named 'pandas_datareader'

In [33]:
import pandas-datareader.data as pdweb

SyntaxError: invalid syntax (<ipython-input-33-86d685f2c979>, line 1)